form
    p
        label(class="new_book" for="title") Title
        input(name="title" type="text" id="title")
    p
        label(class="new_book" for="author") Author
        input(name="author" type="text" id="author")
    p
        label(class="new_book" for="genre") Genre
        input(name="genre" type="text" id="genre")
    p
        label(class="new_book" for="year") Year
        input(name="year" type="text" id="year")
    p
        input(type="submit" value="Create New Book")
    p
        a(href="/books" class="button") Cancel