extends ../layout

block content
    body
    h1 Books
    p
        a(href="books/new" class="button") Create New Book
    table
            tr
                th Title
                th Author
                th Genre
                th Year
            each book in books
                tr
                    td= book.title
                        a(href="/show")
                    td= book.author
                    td= book.genre
                    td= book.year