extends ../layout

block content
  div.subheader
    h2 Books
    a(href="/books") Create Article &#43;
    
  each book in books
    book
      h3= book.title
    //-   include by_line
    //-   p= book.author()
    //-   a(href = "/books/" + book.id) Read More &rarr;