doctype html
html
head
    title New Book
    link(rel="stylesheet" href="../stylesheets/style.css")

body
    h1 New Book
    include errors
    form(action="/books", method="post")
        include form