form(method='get' action="/books/input")
    div.search
        label(for='book') Search Books:
        input(type='text', placeholder='Insert Name of Book, Author, Year, Etc.' value="")
        button(type='submit') Search
        