.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.iPhone11ProMax3 {
  background: rgba(255, 255, 255, 1);
  width: 414px;
  height: 896px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.screenShot20210714At3392 {
  background: url("./images/screenShot20210714At3392.png") -515.6156156156156px 0.9294605809128631px /
    1516.5165165165165px 929.4605809128631px no-repeat;
  width: 505px;
  height: 896px;
  display: block;
  position: absolute;
  top: 0px;
  left: -10px;
}
.rectangle1 {
  background: rgba(201, 159, 81, 1);
  width: 78px;
  height: 896px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.avatar {
  width: 31px;
  height: 31px;
  display: block;
  position: absolute;
  top: 830px;
  left: 23px;
}
.miscIconsBackground {
  opacity: 0.379;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.iconsButton {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(241, 241, 241, 1);
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 999px;
}
.svg__vAkm9 {
  position: absolute;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #f2f2f2;
  display: block;
  top: 8px;
  left: 8px;
}
.svg__g7ABg {
  position: absolute;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #fff;
  display: block;
  top: 776px;
  left: 27px;
}
.svg__bjgpw {
  position: absolute;
  object-fit: cover;
  width: 31px;
  height: 38px;
  color: #fff;
  display: block;
  top: 11.83%;
  left: 5.55%;
}
.svg__lGruP {
  position: absolute;
  object-fit: cover;
  width: 48px;
  height: 48px;
  color: #fff;
  display: block;
  top: 3.01%;
  left: 3.62%;
  overflow: hidden;
}
.img___91TeL {
  position: absolute;
  object-fit: cover;
  width: 41px;
  height: 41px;
  display: block;
  top: 622px;
  left: 332px;
}
.svg___9KMhe {
  position: absolute;
  object-fit: cover;
  width: 97px;
  height: 207px;
  color: #ff7539;
  display: block;
  top: 7px;
  left: 305px;
  border-radius: 17px;
}
.img__ionQu {
  position: absolute;
  object-fit: cover;
  width: 41px;
  height: 41px;
  display: block;
  top: 75px;
  left: 340px;
}
.svg__w6Ag {
  position: absolute;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffe710;
  display: block;
  top: 116px;
  left: 105px;
  overflow: hidden;
}
.svg__yEg2N {
  position: absolute;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffe710;
  display: block;
  top: 365px;
  left: 166px;
  overflow: hidden;
}
.fireInfo:global(.__wab_instance) {
  position: absolute;
  left: 95px;
  bottom: 13px;
}
.svg__mcJbK {
  position: absolute;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #b9b9b9;
  display: block;
  top: 584px;
  left: 361px;
}
