doctype html
head
    title Page Not Found
    link(rel="stylesheet" href="/stylesheets/style.css")
body
    H1 Server Error
    p Sorry! There was an unexpected error on the server.
    br
    p
        a(class="button" href="/books") Home